{% extends 'plotlayout.html' %}
{% set file_class = "bloodpressure" %}
{% set form_title = "Blood Pressure" %}
{% block options %}
    <div class="checkbox">
        <label><input type="checkbox" value="plot_dia" class="option plot1">Diastolic Pressure</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="plot_sys" class="option plot2">Systolic Pressure</label>
    </div>
{% endblock %}
{% block divide %}
    <div class="container"><hr class="plot-divider"/></div>
{% endblock %}