{% extends 'plotlayout.html' %}
{% set file_class = "cognition" %}
{% set form_title = "Cognition" %}
{% block options %}
    <div class="checkbox">
        <label><input type="checkbox" value="plot_words" class="option plot1">Plot words remembered</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="plot_img_acc" class="option plot2">Amount of images remembered</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="img_speed" class="option plot3">Response time</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="plot_hunger" class="option plot4">Hunger perception</label>
    </div>
{% endblock %}
{% block divide %}
    <div class="container"><hr class="plot-divider"/></div>
{% endblock %}