{% extends 'plotlayout.html' %}
{% set file_class = "glucose" %}
{% set form_title = "Blood Glucose" %}
{% block options %}
    <div class="checkbox">
        <label><input type="checkbox" value="plot_glucose" class="option plot1" disabled>Diastolic Pressure</label>
    </div>
{% endblock %}
{% block divide %}
    <div class="container"><hr class="plot-divider"/></div>
{% endblock %}