{% extends 'plotlayout.html' %}
{% set file_class = "heartrate" %}
{% set form_title = "Heart Rate" %}
{% block options %}
    <div class="checkbox">
        <label><input type="checkbox" value="plot_bpm" class="option plot1"  disabled>BPM</label>
    </div>
{% endblock %}
{% block divide %}
    <div class="container"><hr class="plot-divider"/></div>
{% endblock %}