{% extends 'plotlayout.html' %}
{% set file_class = "sleepsummary" %}
{% set form_title = "Sleep" %}
{% block options %}
    <div class="checkbox">
        <label><input type="checkbox" value="plot_type" class="option plot1"  disabled>Type of Sleep</label>
    </div>
{% endblock %}
{% block divide %}
    <div class="container"><hr class="plot-divider"/></div>
{% endblock %}