{% extends 'plotlayout.html' %}
{% set file_class = "weight" %}
{% set form_title = "Weight" %}
{% block options %}
    <div class="checkbox">
        <label><input type="checkbox" value="plot_weight" class="option plot1"  disabled>Weight</label>
    </div>
{% endblock %}