<footer class="navbar-default">
          <div class="container-fluid text-dark">
              <div class="row">
                  <div class="col-sm-9"></div>
                  <div class="col-sm-3 text-left footer-title pl-2"><h5>About Us</h5></div>
              </div>
              <div class="row">
                  <div class="col-sm-9"></div>
                  <div class="col-sm-2"><hr class="footer-divider"/></div>
                  <div class="col-sm-1"></div>
              </div>
              <div class="row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-1  pl-2"><a href="/team" class="footer-links">Team</a></div>
                  <div class="col-sm-2"><p class="text-left footer-text">R.H.J. Vedder</p></div>
              </div>
              <div class="row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-1  pl-2"></div>
                  <div class="col-sm-2"><p class="text-left footer-text">Zahra Jalili</p></div>
              </div>

              <div class="row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-1"></div>
                  <div class="col-sm-1  pl-2"><a href="/contact" class="footer-links">Contact</a></div>
                  <div class="col-sm-2"><p class="text-left footer-text">Copyright (C) 2019</p></div>
              </div>
              <div class="row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2"><p class="text-left footer-text">rolf.vedder@gmail.com</p></div>
              </div>
                  <div class="row">
                  <div class="col-sm-8"></div>
                  <div class="col-sm-2"></div>
                  <div class="col-sm-2"><p class="text-left footer-text">s.jalili@st.hanze.nl</p></div>
              </div>
          </div>
</footer>