<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" style="background-color:#525e6d">
                    <div class="nav navbar-header" >
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/">Home</a>
                    </div>
                    <div class="navbar-collapse collapse" >
                      <ul class="nav navbar-nav">
                        <li><a href="/data">Article</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hypotheses <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li class="dropdown-header"><a href="#">Hypothesis</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="/hypos/bloodpressure">Blood Pressure</a></li>
                              <li><a href="/hypos/cognition">Cognition</a></li>
                              <li><a href="/hypos/glucose">Glucose</a></li>
                              <li><a href="/hypos/heartrate">Heart Rate</a></li>
                              <li><a href="/hypos/sleepsummary">Sleep</a></li>
                              <li><a href="/hypos/weight">Weight</a></li>
                          </ul>
                        </li>
                          <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Plots <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li class="dropdown-header"><a href="/plots">Plots</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="/plots/bloodpressure">Blood Pressure</a></li>
                              <li><a href="/plots/cognition">Cognition</a></li>
                              <li><a href="/plots/glucose">Glucose</a></li>
                              <li><a href="/plots/heartrate">Heart Rate</a></li>
                              <li><a href="/plots/sleepsummary">Sleep</a></li>
                              <li><a href="/plots/weight">Weight</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!--/.nav-collapse -->
            </div>
            <div class="col-lg-2" style="background-color:#525e6d">
                    <div class="navbar-collapse collapse">
                      <ul class="nav navbar-nav">
                            <li class="dropdown nav-right">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Extras <span class="caret"></span></a>
                              <ul class="dropdown-menu">
                                  <li><a href="/data">Data</a></li>
                                  <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Information</li>
                                  <li ><a href="/team">Team</a></li>
                                  <li ><a href="/contact">Contact</a></li>
                                <li><a href="https://bitbucket.org/qs_fasting/web-app/src/master/">Visit the Repository</a></li>
                              </ul>
                            </li>
                        </ul>
                </div>
            </div>
        </div>
    </div>
</nav>