/*
    Copyright (C) 2019  R.H.J. Vedder [rolf.vedder@gmail.com]

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*

main webpage css


    Text semi-bold
    font-family: 'Titillium Web', sans-serif;

    Titles semi-bold
    font-family: 'Open Sans', sans-serif;


 */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

form {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 11pt;
}

p {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 10pt;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;

}
h3{
        font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
    font-size: 11pt;
}

.article{
    font-family:Arial;
    padding:20px;
}


.main-body {
    background: lightgrey;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}

.main-page {
    height: 100%;

}

.page-window {
    height: calc(100vh - 210px);
}

.main-footer {
    background: azure;
    padding: 0px;
    margin: 0px;
}

.main-nav {
    height: 50px;
    padding: 0px;
    margin: 0px;
}

/* navbar css */

.navbar {
    height: inherit;
}

.navbar-default {
    background-color: #525e6d;
    background-image: none;
    background-repeat: no-repeat;
    height: inherit;
}

.nav li a {
    color: ghostwhite;
}

.dropdown-menu {
    background: #738091;
    background-image: none;
    background-repeat: no-repeat;
}

.nav .dropdown-header a {
    color: ghostwhite;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

.navbar-collapse .nav li a {
    color: #e6eaff;
}

.navbar-collapse .nav li a:hover {
    color: #aaadbc;
}

.nav li a:hover {
    background: #8392a2;
}

.nav .navbar-brand {
    color: #e6eaff;
    padding-bottom: 16px;
    padding-top: 14px;
}

.nav .navbar-brand:hover {
    color: #a3a6b5;
}

.nav .divider {
    background: lightgrey;
}

.navbar .container-fluid {
    margin: 0;
    padding: 0;
}

.plot-spacer {
    padding-top: 5vh;
}

/* footer css */

.footer-links {
    color: #68b50f;
    font-size: 10pt ;
}

.footer-title h5 {
    color: #68b50f;
    font-size: 12pt ;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: lightgrey;
    font-size: 10pt;
    margin-bottom: 5px;
}

.footer-divider {
    margin-top:1px;
    margin-bottom:3px;
    padding: 0;
    border-top: 0.1em solid lightgrey;
}

footer {
    height: 15vh;
}

/* plotting css */

.plot-pane {
    border-bottom:1px solid rgba(0, 0, 0, 0.69);
    height: 60vh;
    width: inherit;
}

.panel-body {
    height: inherit;
    padding: 5px;
    margin: 0;
}

.plot-divider {
    margin: 5px 0px;
    padding: 5px 5px 0px;
}

.vertical-bottom {
    position: relative;
    bottom:0;
}

.options-pane {
    height:27vh;
}

.team {
    font-size: 14pt;
}

.email {
    font-size: 14pt;
    color: #68b50f;
}

.team-person {
    margin-top: 0;
    padding-top: 1vh;
    margin-bottom: 0;
    padding-bottom: .5vh;
}

.team-divider {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: .5vh;
}

.team-img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 1vh;
    padding-bottom: .5vh;
}

.home-image {
  background-image: url("img/fastingBG.jpg");
  height: 30%;
  margin:0;
  padding:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.article-image {
  background-image: url("img/hand-3044387_1280.jpg");
  margin:0;
  padding:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 10;
}
@keyframes example {
  0%   {background-image: url("img/blood presure plot.png")}
  25%  {background-image: url("img/book_article.jpg")}
  50%  {background-image: url("img/fastingBG.jpg")}
  100% {background-image: url("img/mmmmorty.jpeg")}
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/*.home-text {*/
/*  text-align: center;*/
/*  position: absolute;*/
/*  !*top: 50%;*!*/
/*  !*left: 50%;*!*/
/*  !*transform: translate(-50%, -50%);*!*/
/*  color: white;*/
/*}*/




/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.error {
    margin-top: 20px;
    text-align: center;
    font-size: 16pt;
}

.error-large {
    margin-top: 80px;
    text-align: center;
    font-size: 100pt;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bolder;
}

.some-col {
    background: #591f54;
}

.hypo-glucose-image {
  background-image: url("img/BP_hypo_plot.jpg");
  margin:0;
  padding:0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 10;
}

