{% extends 'newLayout.html' %}
{% block body %}
            <div class="row" id="myerror">
                <div class="col-sm-12">
                    <div class="error-large">
                        <p>404</p>
                    </div>
                    <div class="error">
                        <p>{{error}}</p>
                    </div>
                </div>
            </div>
{% endblock %}