{% extends 'layout.html' %}
{% block body %}
    <div class="row main-page">
        <div class="col-sm-6 ">

            <h1 align="center"> The abstract of an article should be here </h1>
            <p align="justify" style="font-family: Arial;padding-left:20px;padding-right:20px" >
                GIS is a powerful tool that can be used to locate springs sourced in ophiolites. The unique
features associated with these springs include a reducing subsurface environment reacting at low
temperatures producing high pH, Ca-rich formation fluids with high dissolved hydrogen and
methane. Because of their unique chemical characteristics, these areas are often associated with
microbes and are thought to be similar to the features that enabled life to evolve on Earth.
Locating and sampling these springs could offer a deeper look into Earth's deep biosphere and
the history of life on Earth. Springs have tradiitionally been located using expensive and time
consuming field techniques. Field work can be dangerous. The goal of this study was to develop
a model that could locate these unique geological features without first going into the field, thus
saving time, money and reducing the risks associated with remote field localities. A GIS site
suitability analysis works by overlaying existing geo-referenced data into a computer program
and adding the different data sets after assigning a numerical value to the important fields. For
this project, I used surface and ground water maps, geologic maps, a soil map, and a fault map
for four counties in Northern California. The model has demonstrated that it is possible to use
this time of model and apply it to a complex geologic area to produce a usable field map for
future field work.
            </p>
           <div class="text-center" style="padding-bottom:10px">
               <form action="/downloadArticle" method="post">
                   <button class="btn btn-primary" type="submit" id="btn_download">Download</button>
                    <!--<input type="submit" name="Download" id="btn_download" value="Download"/>-->
               </form>
           </div>
        </div>
        <div class="col-sm-6 page-window article-image">

        </div>
{#        <div class="col-sm-1 page-window"></div>#}
    </div>
{% endblock %}