<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Bokeh includes-->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet"/>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" type="text/css"/>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
  </head>
  <body>
    <div>
        <h1>Bokeh sample</h1>
        {% block body %}{% endblock %}

    </div>
  </body>
</html>