{% extends 'newLayout.html' %}
{% block body %}

<div style="height:150px;background-color:black"></div>

{% for i in range(len) %}
<div style="margin-right:auto;margin-left:auto;margin-top:20px;width:60%"><h3>{{names_list[i]}}</h3></div>
{% if i==0%}

{%endif%}

{% for part in plots[i] %}
<div style="width:50%;margin-right:auto;margin-left:auto">
    {{part | safe}}
</div>
{% endfor %}
{% endfor %}
<div style="margin-right:auto;margin-left:auto;margin-top:20px;width:40%"><h3>The Comparison of the two Above Plots</h3>
</div>

<div style="width:50%;margin-right:auto;margin-left:auto;margin-bottom:50px" class="bk-root"
     id="89408782-b3f2-4d54-9bf1-b98bec453d94" data-root-id="1063"></div>


<script type="application/json" id="1229">
    {
        "68293858-89b8-417a-84e2-b0d28cb6a9c2": {
            "roots": {
                "references": [
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1001",
                                    "subtype": "Figure",
                                    "type": "Plot"
                                }
                            ]
                        },
                        "id": "1061",
                        "type": "Row"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1035",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "line_color": "red",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1044",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "bottom_units": "screen",
                            "fill_alpha": {
                                "value": 0.5
                            },
                            "fill_color": {
                                "value": "lightgrey"
                            },
                            "left_units": "screen",
                            "level": "overlay",
                            "line_alpha": {
                                "value": 1.0
                            },
                            "line_color": {
                                "value": "black"
                            },
                            "line_dash": [
                                4,
                                4
                            ],
                            "line_width": {
                                "value": 2
                            },
                            "render_mode": "css",
                            "right_units": "screen",
                            "top_units": "screen"
                        },
                        "id": "1078",
                        "type": "BoxAnnotation"
                    },
                    {
                        "attributes": {
                            "below": [
                                {
                                    "id": "1010",
                                    "type": "LinearAxis"
                                }
                            ],
                            "center": [
                                {
                                    "id": "1014",
                                    "type": "Grid"
                                },
                                {
                                    "id": "1019",
                                    "type": "Grid"
                                }
                            ],
                            "left": [
                                {
                                    "id": "1015",
                                    "type": "LinearAxis"
                                }
                            ],
                            "plot_height": 300,
                            "plot_width": 800,
                            "renderers": [
                                {
                                    "id": "1036",
                                    "type": "GlyphRenderer"
                                },
                                {
                                    "id": "1041",
                                    "type": "GlyphRenderer"
                                },
                                {
                                    "id": "1046",
                                    "type": "GlyphRenderer"
                                },
                                {
                                    "id": "1051",
                                    "type": "GlyphRenderer"
                                }
                            ],
                            "sizing_mode": "scale_width",
                            "title": {
                                "id": "1064",
                                "type": "Title"
                            },
                            "toolbar": {
                                "id": "1026",
                                "type": "Toolbar"
                            },
                            "x_range": {
                                "id": "1002",
                                "type": "DataRange1d"
                            },
                            "x_scale": {
                                "id": "1006",
                                "type": "LinearScale"
                            },
                            "y_range": {
                                "id": "1004",
                                "type": "DataRange1d"
                            },
                            "y_scale": {
                                "id": "1008",
                                "type": "LinearScale"
                            }
                        },
                        "id": "1001",
                        "subtype": "Figure",
                        "type": "Plot"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1053",
                                    "type": "Toggle"
                                },
                                {
                                    "id": "1055",
                                    "type": "Toggle"
                                },
                                {
                                    "id": "1057",
                                    "type": "Toggle"
                                },
                                {
                                    "id": "1059",
                                    "type": "Toggle"
                                }
                            ]
                        },
                        "id": "1062",
                        "type": "Row"
                    },
                    {
                        "attributes": {
                            "formatter": {
                                "id": "1069",
                                "type": "BasicTickFormatter"
                            },
                            "ticker": {
                                "id": "1016",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1015",
                        "type": "LinearAxis"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1045",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1043",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1044",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1045",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1047",
                                "type": "CDSView"
                            }
                        },
                        "id": "1046",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {},
                        "id": "1006",
                        "type": "LinearScale"
                    },
                    {
                        "attributes": {},
                        "id": "1020",
                        "type": "PanTool"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1043",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1047",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {},
                        "id": "1021",
                        "type": "WheelZoomTool"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    1,
                                    7,
                                    8,
                                    9,
                                    10,
                                    11,
                                    15,
                                    19,
                                    20,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    85.0,
                                    87.0,
                                    84.28571428571429,
                                    84.4,
                                    83.66666666666667,
                                    83.2,
                                    85.0,
                                    96.0,
                                    92.0,
                                    90.0,
                                    89.0,
                                    87.4,
                                    86.58333333333333
                                ]
                            },
                            "selected": {
                                "id": "1077",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1076",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1048",
                        "type": "ColumnDataSource"
                    },
                    {
                        "attributes": {
                            "overlay": {
                                "id": "1078",
                                "type": "BoxAnnotation"
                            }
                        },
                        "id": "1022",
                        "type": "BoxZoomTool"
                    },
                    {
                        "attributes": {},
                        "id": "1008",
                        "type": "LinearScale"
                    },
                    {
                        "attributes": {
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1049",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "text": ""
                        },
                        "id": "1064",
                        "type": "Title"
                    },
                    {
                        "attributes": {},
                        "id": "1023",
                        "type": "SaveTool"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1050",
                        "type": "Line"
                    },
                    {
                        "attributes": {},
                        "id": "1024",
                        "type": "ResetTool"
                    },
                    {
                        "attributes": {
                            "formatter": {
                                "id": "1067",
                                "type": "BasicTickFormatter"
                            },
                            "ticker": {
                                "id": "1011",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1010",
                        "type": "LinearAxis"
                    },
                    {
                        "attributes": {},
                        "id": "1067",
                        "type": "BasicTickFormatter"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1048",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1049",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1050",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1052",
                                "type": "CDSView"
                            }
                        },
                        "id": "1051",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {},
                        "id": "1011",
                        "type": "BasicTicker"
                    },
                    {
                        "attributes": {},
                        "id": "1025",
                        "type": "HelpTool"
                    },
                    {
                        "attributes": {},
                        "id": "1069",
                        "type": "BasicTickFormatter"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1048",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1052",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {
                            "active_drag": "auto",
                            "active_inspect": "auto",
                            "active_multi": null,
                            "active_scroll": "auto",
                            "active_tap": "auto",
                            "tools": [
                                {
                                    "id": "1020",
                                    "type": "PanTool"
                                },
                                {
                                    "id": "1021",
                                    "type": "WheelZoomTool"
                                },
                                {
                                    "id": "1022",
                                    "type": "BoxZoomTool"
                                },
                                {
                                    "id": "1023",
                                    "type": "SaveTool"
                                },
                                {
                                    "id": "1024",
                                    "type": "ResetTool"
                                },
                                {
                                    "id": "1025",
                                    "type": "HelpTool"
                                }
                            ]
                        },
                        "id": "1026",
                        "type": "Toolbar"
                    },
                    {
                        "attributes": {},
                        "id": "1070",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1054",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Systolic Baseline",
                            "width": 200
                        },
                        "id": "1053",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {
                            "callback": null
                        },
                        "id": "1002",
                        "type": "DataRange1d"
                    },
                    {
                        "attributes": {},
                        "id": "1071",
                        "type": "Selection"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1033",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1034",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1035",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1037",
                                "type": "CDSView"
                            }
                        },
                        "id": "1036",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {
                            "callback": null
                        },
                        "id": "1004",
                        "type": "DataRange1d"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1036",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1054",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {},
                        "id": "1072",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1056",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Diastolic Baseline",
                            "width": 200
                        },
                        "id": "1055",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1033",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1037",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {},
                        "id": "1073",
                        "type": "Selection"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1041",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1056",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {},
                        "id": "1016",
                        "type": "BasicTicker"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    4,
                                    8,
                                    9,
                                    10,
                                    12,
                                    19,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    92.0,
                                    93.0,
                                    84.0,
                                    81.66666666666667,
                                    80.0,
                                    95.0,
                                    99.0,
                                    73.0,
                                    94.0,
                                    87.0
                                ]
                            },
                            "selected": {
                                "id": "1073",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1072",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1038",
                        "type": "ColumnDataSource"
                    },
                    {
                        "attributes": {
                            "line_color": "blue",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1034",
                        "type": "Line"
                    },
                    {
                        "attributes": {},
                        "id": "1074",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1058",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Systolic Fasting",
                            "width": 200
                        },
                        "id": "1057",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {
                            "line_color": "green",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1039",
                        "type": "Line"
                    },
                    {
                        "attributes": {},
                        "id": "1075",
                        "type": "Selection"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1046",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1058",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1040",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    4,
                                    8,
                                    9,
                                    10,
                                    12,
                                    19,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    125.0,
                                    130.0,
                                    141.0,
                                    134.0,
                                    116.0,
                                    125.0,
                                    141.0,
                                    134.0,
                                    140.0,
                                    133.0
                                ]
                            },
                            "selected": {
                                "id": "1071",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1070",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1033",
                        "type": "ColumnDataSource"
                    },
                    {
                        "attributes": {},
                        "id": "1076",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1060",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Diastolic Fasting",
                            "width": 200
                        },
                        "id": "1059",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1038",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1039",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1040",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1042",
                                "type": "CDSView"
                            }
                        },
                        "id": "1041",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {
                            "dimension": 1,
                            "ticker": {
                                "id": "1016",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1019",
                        "type": "Grid"
                    },
                    {
                        "attributes": {},
                        "id": "1077",
                        "type": "Selection"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1051",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1060",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1038",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1042",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {
                            "ticker": {
                                "id": "1011",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1014",
                        "type": "Grid"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1061",
                                    "type": "Row"
                                },
                                {
                                    "id": "1062",
                                    "type": "Row"
                                }
                            ]
                        },
                        "id": "1063",
                        "type": "Column"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    1,
                                    7,
                                    8,
                                    9,
                                    10,
                                    11,
                                    15,
                                    19,
                                    20,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    139.0,
                                    134.0,
                                    129.0,
                                    126.2,
                                    131.0,
                                    128.0,
                                    132.0,
                                    137.0,
                                    143.0,
                                    132.0,
                                    127.0,
                                    127.4,
                                    131.83333333333334
                                ]
                            },
                            "selected": {
                                "id": "1075",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1074",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1043",
                        "type": "ColumnDataSource"
                    }
                ],
                "root_ids": [
                    "1063"
                ]
            },
            "title": "Bokeh Application",
            "version": "1.4.0"
        }
    }
</script>
<script type="text/javascript">
          (function() {
            var fn = function() {
              Bokeh.safely(function() {
                (function(root) {
                  function embed_document(root) {

                  var docs_json = document.getElementById('1229').textContent;
                  var render_items = [{"docid":"68293858-89b8-417a-84e2-b0d28cb6a9c2","roots":{"1063":"89408782-b3f2-4d54-9bf1-b98bec453d94"}}];
                  root.Bokeh.embed.embed_items(docs_json, render_items);

                  }
                  if (root.Bokeh !== undefined) {
                    embed_document(root);
                  } else {
                    var attempts = 0;
                    var timer = setInterval(function(root) {
                      if (root.Bokeh !== undefined) {
                        clearInterval(timer);
                        embed_document(root);
                      } else {
                        attempts++;
                        if (attempts > 100) {
                          clearInterval(timer);
                          console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                        }
                      }
                    }, 10, root)
                  }
                })(window);
              });
            };
            if (document.readyState != "loading") fn();
            else document.addEventListener("DOMContentLoaded", fn);
          })();

</script>


{% endblock %}