{% extends 'newLayout.html' %}
{% block body %}

<div style="height:150px;background-color:black"></div>

{% for i in range(len) %}
<div style="margin-right:auto;margin-left:auto;margin-top:20px;width:60%"><h3>{{names_list[i]}}</h3></div>
{% if i==0%}
<div style="width:20px;margin-right:auto;margin-left:auto;float:left" id="hideMe"><img src="../static/img/clock.gif"
                                                                                       data-gifffer-duration="4000">
</div>
{%endif%}

{% for part in plots[i] %}
<div style="width:50%;margin-right:auto;margin-left:auto">
    {{part | safe}}
</div>
{% endfor %}
{% endfor %}
<div style="margin-right:auto;margin-left:auto;margin-top:20px;width:40%"><h3>The Comparison of the two Above Plots</h3>
</div>

<div style="width:50%;margin-right:auto;margin-left:auto;margin-bottom:50px" class="bk-root"
     id="1fe4e090-917f-4e74-9b4e-f635f28ea1c7" data-root-id="1049"></div>

<script type="application/json" id="1171">
    {
        "504e0bcb-59c5-4e51-9a48-e6c032a2ae82": {
            "roots": {
                "references": [
                    {
                        "attributes": {},
                        "id": "1006",
                        "type": "LinearScale"
                    },
                    {
                        "attributes": {},
                        "id": "1023",
                        "type": "SaveTool"
                    },
                    {
                        "attributes": {},
                        "id": "1024",
                        "type": "ResetTool"
                    },
                    {
                        "attributes": {
                            "text": ""
                        },
                        "id": "1051",
                        "type": "Title"
                    },
                    {
                        "attributes": {},
                        "id": "1025",
                        "type": "HelpTool"
                    },
                    {
                        "attributes": {
                            "formatter": {
                                "id": "1052",
                                "type": "BasicTickFormatter"
                            },
                            "ticker": {
                                "id": "1016",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1015",
                        "type": "LinearAxis"
                    },
                    {
                        "attributes": {},
                        "id": "1052",
                        "type": "BasicTickFormatter"
                    },
                    {
                        "attributes": {
                            "active_drag": "auto",
                            "active_inspect": "auto",
                            "active_multi": null,
                            "active_scroll": "auto",
                            "active_tap": "auto",
                            "tools": [
                                {
                                    "id": "1020",
                                    "type": "PanTool"
                                },
                                {
                                    "id": "1021",
                                    "type": "WheelZoomTool"
                                },
                                {
                                    "id": "1022",
                                    "type": "BoxZoomTool"
                                },
                                {
                                    "id": "1023",
                                    "type": "SaveTool"
                                },
                                {
                                    "id": "1024",
                                    "type": "ResetTool"
                                },
                                {
                                    "id": "1025",
                                    "type": "HelpTool"
                                }
                            ]
                        },
                        "id": "1026",
                        "type": "Toolbar"
                    },
                    {
                        "attributes": {},
                        "id": "1054",
                        "type": "BasicTickFormatter"
                    },
                    {
                        "attributes": {},
                        "id": "1056",
                        "type": "Selection"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1033",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1037",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {
                            "overlay": {
                                "id": "1060",
                                "type": "BoxAnnotation"
                            }
                        },
                        "id": "1022",
                        "type": "BoxZoomTool"
                    },
                    {
                        "attributes": {},
                        "id": "1057",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    1,
                                    2,
                                    3,
                                    4,
                                    5,
                                    6,
                                    7,
                                    8,
                                    9,
                                    10,
                                    11,
                                    12,
                                    13,
                                    14,
                                    15,
                                    16,
                                    17,
                                    18,
                                    19,
                                    20,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    4.32121212121212,
                                    4.313333333333334,
                                    4.183168316831682,
                                    3.9500000000000006,
                                    3.7999999999999994,
                                    3.666346153846154,
                                    3.5558823529411754,
                                    3.5960784313725505,
                                    3.6826530612244914,
                                    3.685106382978723,
                                    3.63804347826087,
                                    5.024242424242426,
                                    4.812244897959183,
                                    4.868367346938776,
                                    4.715533980582525,
                                    5.074999999999999,
                                    4.926470588235293,
                                    4.954368932038833,
                                    5.449514563106796,
                                    5.43173076923077,
                                    5.438461538461539,
                                    5.371428571428574,
                                    4.938372093023256,
                                    4.424999999999999
                                ]
                            },
                            "selected": {
                                "id": "1058",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1059",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1038",
                        "type": "ColumnDataSource"
                    },
                    {
                        "attributes": {},
                        "id": "1058",
                        "type": "Selection"
                    },
                    {
                        "attributes": {
                            "line_color": "red",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1039",
                        "type": "Line"
                    },
                    {
                        "attributes": {},
                        "id": "1008",
                        "type": "LinearScale"
                    },
                    {
                        "attributes": {},
                        "id": "1059",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "formatter": {
                                "id": "1054",
                                "type": "BasicTickFormatter"
                            },
                            "ticker": {
                                "id": "1011",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1010",
                        "type": "LinearAxis"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1040",
                        "type": "Line"
                    },
                    {
                        "attributes": {},
                        "id": "1020",
                        "type": "PanTool"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    1,
                                    2,
                                    3,
                                    4,
                                    5,
                                    6,
                                    7,
                                    8,
                                    9,
                                    10,
                                    11,
                                    12,
                                    13,
                                    14,
                                    15,
                                    16,
                                    17,
                                    18,
                                    19,
                                    20,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    4.794736842105263,
                                    4.7,
                                    4.403225806451613,
                                    4.256249999999999,
                                    3.89375,
                                    3.88125,
                                    3.8656250000000005,
                                    3.841935483870967,
                                    3.9093749999999994,
                                    4.5935483870967735,
                                    5.14375,
                                    4.966666666666667,
                                    4.966666666666666,
                                    5.008333333333335,
                                    5.430555555555555,
                                    5.328571428571428,
                                    5.333333333333334,
                                    5.372222222222222,
                                    5.7250000000000005,
                                    5.686111111111113,
                                    5.980555555555554,
                                    6.220588235294117,
                                    5.988,
                                    5.595454545454547
                                ]
                            },
                            "selected": {
                                "id": "1056",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1057",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1033",
                        "type": "ColumnDataSource"
                    },
                    {
                        "attributes": {
                            "bottom_units": "screen",
                            "fill_alpha": {
                                "value": 0.5
                            },
                            "fill_color": {
                                "value": "lightgrey"
                            },
                            "left_units": "screen",
                            "level": "overlay",
                            "line_alpha": {
                                "value": 1.0
                            },
                            "line_color": {
                                "value": "black"
                            },
                            "line_dash": [
                                4,
                                4
                            ],
                            "line_width": {
                                "value": 2
                            },
                            "render_mode": "css",
                            "right_units": "screen",
                            "top_units": "screen"
                        },
                        "id": "1060",
                        "type": "BoxAnnotation"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1038",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1039",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1040",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1042",
                                "type": "CDSView"
                            }
                        },
                        "id": "1041",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {
                            "dimension": 1,
                            "ticker": {
                                "id": "1016",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1019",
                        "type": "Grid"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1035",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1038",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1042",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1044",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Base-line",
                            "width": 400
                        },
                        "id": "1043",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {
                            "line_color": "blue",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1034",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1036",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1044",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1033",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1034",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1035",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1037",
                                "type": "CDSView"
                            }
                        },
                        "id": "1036",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1046",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Fasting-period",
                            "width": 400
                        },
                        "id": "1045",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {},
                        "id": "1011",
                        "type": "BasicTicker"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1041",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1046",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {
                            "below": [
                                {
                                    "id": "1010",
                                    "type": "LinearAxis"
                                }
                            ],
                            "center": [
                                {
                                    "id": "1014",
                                    "type": "Grid"
                                },
                                {
                                    "id": "1019",
                                    "type": "Grid"
                                }
                            ],
                            "left": [
                                {
                                    "id": "1015",
                                    "type": "LinearAxis"
                                }
                            ],
                            "plot_height": 300,
                            "plot_width": 800,
                            "renderers": [
                                {
                                    "id": "1036",
                                    "type": "GlyphRenderer"
                                },
                                {
                                    "id": "1041",
                                    "type": "GlyphRenderer"
                                }
                            ],
                            "sizing_mode": "scale_width",
                            "title": {
                                "id": "1051",
                                "type": "Title"
                            },
                            "toolbar": {
                                "id": "1026",
                                "type": "Toolbar"
                            },
                            "x_range": {
                                "id": "1002",
                                "type": "DataRange1d"
                            },
                            "x_scale": {
                                "id": "1006",
                                "type": "LinearScale"
                            },
                            "y_range": {
                                "id": "1004",
                                "type": "DataRange1d"
                            },
                            "y_scale": {
                                "id": "1008",
                                "type": "LinearScale"
                            }
                        },
                        "id": "1001",
                        "subtype": "Figure",
                        "type": "Plot"
                    },
                    {
                        "attributes": {
                            "ticker": {
                                "id": "1011",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1014",
                        "type": "Grid"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1047",
                                    "type": "Row"
                                },
                                {
                                    "id": "1048",
                                    "type": "Row"
                                }
                            ]
                        },
                        "id": "1049",
                        "type": "Column"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1001",
                                    "subtype": "Figure",
                                    "type": "Plot"
                                }
                            ]
                        },
                        "id": "1047",
                        "type": "Row"
                    },
                    {
                        "attributes": {},
                        "id": "1016",
                        "type": "BasicTicker"
                    },
                    {
                        "attributes": {
                            "callback": null
                        },
                        "id": "1002",
                        "type": "DataRange1d"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1043",
                                    "type": "Toggle"
                                },
                                {
                                    "id": "1045",
                                    "type": "Toggle"
                                }
                            ]
                        },
                        "id": "1048",
                        "type": "Row"
                    },
                    {
                        "attributes": {
                            "callback": null
                        },
                        "id": "1004",
                        "type": "DataRange1d"
                    },
                    {
                        "attributes": {},
                        "id": "1021",
                        "type": "WheelZoomTool"
                    }
                ],
                "root_ids": [
                    "1049"
                ]
            },
            "title": "Bokeh Application",
            "version": "1.4.0"
        }
    }
</script>
<script type="text/javascript">
          (function() {
            var fn = function() {
              Bokeh.safely(function() {
                (function(root) {
                  function embed_document(root) {

                  var docs_json = document.getElementById('1171').textContent;
                  var render_items = [{"docid":"504e0bcb-59c5-4e51-9a48-e6c032a2ae82","roots":{"1049":"1fe4e090-917f-4e74-9b4e-f635f28ea1c7"}}];
                  root.Bokeh.embed.embed_items(docs_json, render_items);

                  }
                  if (root.Bokeh !== undefined) {
                    embed_document(root);
                  } else {
                    var attempts = 0;
                    var timer = setInterval(function(root) {
                      if (root.Bokeh !== undefined) {
                        clearInterval(timer);
                        embed_document(root);
                      } else {
                        attempts++;
                        if (attempts > 100) {
                          clearInterval(timer);
                          console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                        }
                      }
                    }, 10, root)
                  }
                })(window);
              });
            };
            if (document.readyState != "loading") fn();
            else document.addEventListener("DOMContentLoaded", fn);
          })();

</script>


{% for i in range(len) %}
<div style="margin-right:auto;margin-left:auto;margin-top:20px;width:60%"><h3>{{names_list2[i]}}</h3></div>
{% if i==0%}
<div style="width:20px;margin-right:auto;margin-left:auto;float:left" id="hideMe2"><img src="../static/img/clock.gif"
                                                                                        data-gifffer-duration="4000">
</div>
{%endif%}

{% for part in plots2[i] %}
<div style="width:50%;margin-right:auto;margin-left:auto">
    {{part | safe}}
</div>
{% endfor %}
{% endfor %}
<div style="margin-right:auto;margin-left:auto;margin-top:20px;width:40%"><h3>The Comparison of the two Above Plots</h3>
</div>

<div style="width:50%;margin-right:auto;margin-left:auto;margin-bottom:50px" class="bk-root"
     id="0222a618-619b-4cd0-8276-557bd5f18c22" data-root-id="1049"></div>


<script type="application/json" id="1172">
    {
        "9caee89a-73a5-4407-8552-32d852fbcd27": {
            "roots": {
                "references": [
                    {
                        "attributes": {},
                        "id": "1023",
                        "type": "SaveTool"
                    },
                    {
                        "attributes": {},
                        "id": "1024",
                        "type": "ResetTool"
                    },
                    {
                        "attributes": {},
                        "id": "1025",
                        "type": "HelpTool"
                    },
                    {
                        "attributes": {},
                        "id": "1053",
                        "type": "BasicTickFormatter"
                    },
                    {
                        "attributes": {
                            "active_drag": "auto",
                            "active_inspect": "auto",
                            "active_multi": null,
                            "active_scroll": "auto",
                            "active_tap": "auto",
                            "tools": [
                                {
                                    "id": "1020",
                                    "type": "PanTool"
                                },
                                {
                                    "id": "1021",
                                    "type": "WheelZoomTool"
                                },
                                {
                                    "id": "1022",
                                    "type": "BoxZoomTool"
                                },
                                {
                                    "id": "1023",
                                    "type": "SaveTool"
                                },
                                {
                                    "id": "1024",
                                    "type": "ResetTool"
                                },
                                {
                                    "id": "1025",
                                    "type": "HelpTool"
                                }
                            ]
                        },
                        "id": "1026",
                        "type": "Toolbar"
                    },
                    {
                        "attributes": {},
                        "id": "1008",
                        "type": "LinearScale"
                    },
                    {
                        "attributes": {},
                        "id": "1055",
                        "type": "BasicTickFormatter"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1033",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1034",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1035",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1037",
                                "type": "CDSView"
                            }
                        },
                        "id": "1036",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {
                            "dimension": 1,
                            "ticker": {
                                "id": "1016",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1019",
                        "type": "Grid"
                    },
                    {
                        "attributes": {},
                        "id": "1056",
                        "type": "Selection"
                    },
                    {
                        "attributes": {},
                        "id": "1057",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    1,
                                    2,
                                    3,
                                    4,
                                    5,
                                    6,
                                    7,
                                    8,
                                    9,
                                    10,
                                    11,
                                    12,
                                    13,
                                    14,
                                    15,
                                    16,
                                    17,
                                    18,
                                    19,
                                    20,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    4.412962962962963,
                                    4.150847457627119,
                                    4.20625,
                                    4.056666666666666,
                                    4.078333333333331,
                                    3.9549999999999987,
                                    3.896666666666667,
                                    4.064285714285713,
                                    4.238461538461538,
                                    4.498148148148148,
                                    4.517857142857144,
                                    4.9107142857142865,
                                    4.9142857142857155,
                                    5.0482142857142875,
                                    4.962499999999999,
                                    4.926785714285715,
                                    5.2321428571428585,
                                    5.450000000000001,
                                    5.535714285714286,
                                    5.062962962962962,
                                    5.255769230769231,
                                    5.031372549019609,
                                    4.833333333333335,
                                    4.730952380952381
                                ]
                            },
                            "selected": {
                                "id": "1058",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1059",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1038",
                        "type": "ColumnDataSource"
                    },
                    {
                        "attributes": {},
                        "id": "1058",
                        "type": "Selection"
                    },
                    {
                        "attributes": {
                            "line_color": "red",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1039",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "ticker": {
                                "id": "1011",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1014",
                        "type": "Grid"
                    },
                    {
                        "attributes": {},
                        "id": "1016",
                        "type": "BasicTicker"
                    },
                    {
                        "attributes": {},
                        "id": "1059",
                        "type": "UnionRenderers"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1040",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "bottom_units": "screen",
                            "fill_alpha": {
                                "value": 0.5
                            },
                            "fill_color": {
                                "value": "lightgrey"
                            },
                            "left_units": "screen",
                            "level": "overlay",
                            "line_alpha": {
                                "value": 1.0
                            },
                            "line_color": {
                                "value": "black"
                            },
                            "line_dash": [
                                4,
                                4
                            ],
                            "line_width": {
                                "value": 2
                            },
                            "render_mode": "css",
                            "right_units": "screen",
                            "top_units": "screen"
                        },
                        "id": "1060",
                        "type": "BoxAnnotation"
                    },
                    {
                        "attributes": {
                            "data_source": {
                                "id": "1038",
                                "type": "ColumnDataSource"
                            },
                            "glyph": {
                                "id": "1039",
                                "type": "Line"
                            },
                            "hover_glyph": null,
                            "muted_glyph": null,
                            "nonselection_glyph": {
                                "id": "1040",
                                "type": "Line"
                            },
                            "selection_glyph": null,
                            "view": {
                                "id": "1042",
                                "type": "CDSView"
                            }
                        },
                        "id": "1041",
                        "type": "GlyphRenderer"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1038",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1042",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {
                            "formatter": {
                                "id": "1055",
                                "type": "BasicTickFormatter"
                            },
                            "ticker": {
                                "id": "1016",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1015",
                        "type": "LinearAxis"
                    },
                    {
                        "attributes": {
                            "callback": null,
                            "data": {
                                "x": [
                                    0,
                                    1,
                                    2,
                                    3,
                                    4,
                                    5,
                                    6,
                                    7,
                                    8,
                                    9,
                                    10,
                                    11,
                                    12,
                                    13,
                                    14,
                                    15,
                                    16,
                                    17,
                                    18,
                                    19,
                                    20,
                                    21,
                                    22,
                                    23
                                ],
                                "y": [
                                    4.925,
                                    4.807692307692308,
                                    4.382142857142858,
                                    4.270967741935484,
                                    4.190625,
                                    4.025,
                                    4.115625,
                                    4.1375,
                                    4.137499999999999,
                                    4.2437499999999995,
                                    4.482857142857145,
                                    4.7444444444444445,
                                    4.597222222222222,
                                    4.938888888888888,
                                    4.78888888888889,
                                    4.984375000000001,
                                    5.237499999999999,
                                    5.174193548387098,
                                    5.1000000000000005,
                                    5.021874999999999,
                                    4.88125,
                                    4.724137931034484,
                                    5.032142857142857,
                                    5.140740740740741
                                ]
                            },
                            "selected": {
                                "id": "1056",
                                "type": "Selection"
                            },
                            "selection_policy": {
                                "id": "1057",
                                "type": "UnionRenderers"
                            }
                        },
                        "id": "1033",
                        "type": "ColumnDataSource"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1044",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Base-line",
                            "width": 400
                        },
                        "id": "1043",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {},
                        "id": "1020",
                        "type": "PanTool"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1036",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1044",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {
                            "formatter": {
                                "id": "1053",
                                "type": "BasicTickFormatter"
                            },
                            "ticker": {
                                "id": "1011",
                                "type": "BasicTicker"
                            }
                        },
                        "id": "1010",
                        "type": "LinearAxis"
                    },
                    {
                        "attributes": {
                            "active": true,
                            "button_type": "success",
                            "callback": null,
                            "icon": null,
                            "js_property_callbacks": {
                                "change:active": [
                                    {
                                        "id": "1046",
                                        "type": "CustomJS"
                                    }
                                ]
                            },
                            "label": "Fasting-period",
                            "width": 400
                        },
                        "id": "1045",
                        "type": "Toggle"
                    },
                    {
                        "attributes": {
                            "line_color": "blue",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1034",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "args": {
                                "other": {
                                    "id": "1041",
                                    "type": "GlyphRenderer"
                                }
                            },
                            "code": "other.visible = this.active"
                        },
                        "id": "1046",
                        "type": "CustomJS"
                    },
                    {
                        "attributes": {},
                        "id": "1011",
                        "type": "BasicTicker"
                    },
                    {
                        "attributes": {
                            "below": [
                                {
                                    "id": "1010",
                                    "type": "LinearAxis"
                                }
                            ],
                            "center": [
                                {
                                    "id": "1014",
                                    "type": "Grid"
                                },
                                {
                                    "id": "1019",
                                    "type": "Grid"
                                }
                            ],
                            "left": [
                                {
                                    "id": "1015",
                                    "type": "LinearAxis"
                                }
                            ],
                            "plot_height": 300,
                            "plot_width": 800,
                            "renderers": [
                                {
                                    "id": "1036",
                                    "type": "GlyphRenderer"
                                },
                                {
                                    "id": "1041",
                                    "type": "GlyphRenderer"
                                }
                            ],
                            "sizing_mode": "scale_width",
                            "title": {
                                "id": "1050",
                                "type": "Title"
                            },
                            "toolbar": {
                                "id": "1026",
                                "type": "Toolbar"
                            },
                            "x_range": {
                                "id": "1002",
                                "type": "DataRange1d"
                            },
                            "x_scale": {
                                "id": "1006",
                                "type": "LinearScale"
                            },
                            "y_range": {
                                "id": "1004",
                                "type": "DataRange1d"
                            },
                            "y_scale": {
                                "id": "1008",
                                "type": "LinearScale"
                            }
                        },
                        "id": "1001",
                        "subtype": "Figure",
                        "type": "Plot"
                    },
                    {
                        "attributes": {
                            "source": {
                                "id": "1033",
                                "type": "ColumnDataSource"
                            }
                        },
                        "id": "1037",
                        "type": "CDSView"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1047",
                                    "type": "Row"
                                },
                                {
                                    "id": "1048",
                                    "type": "Row"
                                }
                            ]
                        },
                        "id": "1049",
                        "type": "Column"
                    },
                    {
                        "attributes": {},
                        "id": "1006",
                        "type": "LinearScale"
                    },
                    {
                        "attributes": {
                            "callback": null
                        },
                        "id": "1002",
                        "type": "DataRange1d"
                    },
                    {
                        "attributes": {
                            "line_alpha": 0.1,
                            "line_color": "#1f77b4",
                            "line_width": 4,
                            "x": {
                                "field": "x"
                            },
                            "y": {
                                "field": "y"
                            }
                        },
                        "id": "1035",
                        "type": "Line"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1001",
                                    "subtype": "Figure",
                                    "type": "Plot"
                                }
                            ]
                        },
                        "id": "1047",
                        "type": "Row"
                    },
                    {
                        "attributes": {
                            "callback": null
                        },
                        "id": "1004",
                        "type": "DataRange1d"
                    },
                    {
                        "attributes": {},
                        "id": "1021",
                        "type": "WheelZoomTool"
                    },
                    {
                        "attributes": {
                            "children": [
                                {
                                    "id": "1043",
                                    "type": "Toggle"
                                },
                                {
                                    "id": "1045",
                                    "type": "Toggle"
                                }
                            ]
                        },
                        "id": "1048",
                        "type": "Row"
                    },
                    {
                        "attributes": {
                            "overlay": {
                                "id": "1060",
                                "type": "BoxAnnotation"
                            }
                        },
                        "id": "1022",
                        "type": "BoxZoomTool"
                    },
                    {
                        "attributes": {
                            "text": ""
                        },
                        "id": "1050",
                        "type": "Title"
                    }
                ],
                "root_ids": [
                    "1049"
                ]
            },
            "title": "Bokeh Application",
            "version": "1.4.0"
        }
    }
</script>
<script type="text/javascript">
          (function() {
            var fn = function() {
              Bokeh.safely(function() {
                (function(root) {
                  function embed_document(root) {

                  var docs_json = document.getElementById('1172').textContent;
                  var render_items = [{"docid":"9caee89a-73a5-4407-8552-32d852fbcd27","roots":{"1049":"0222a618-619b-4cd0-8276-557bd5f18c22"}}];
                  root.Bokeh.embed.embed_items(docs_json, render_items);

                  }
                  if (root.Bokeh !== undefined) {
                    embed_document(root);
                  } else {
                    var attempts = 0;
                    var timer = setInterval(function(root) {
                      if (root.Bokeh !== undefined) {
                        clearInterval(timer);
                        embed_document(root);
                      } else {
                        attempts++;
                        if (attempts > 100) {
                          clearInterval(timer);
                          console.log("Bokeh: ERROR: Unable to run BokehJS code because BokehJS library is missing");
                        }
                      }
                    }, 10, root)
                  }
                })(window);
              });
            };
            if (document.readyState != "loading") fn();
            else document.addEventListener("DOMContentLoaded", fn);
          })();

</script>

{% endblock %}