{% extends 'layout.html' %}
{% block body %}

    <div class="row main-page home-image">
        <div class="col-sm-1 page-window"></div>
        <div class="col-sm-10 page-window"></div>
    </div>
{% endblock %}
{% block scrpt %}
    <script type=text/javascript src="../static/homepage.js"></script>
{% endblock %}