{% extends 'newLayout.html' %}
{% block body %}
    <div class="row" style="padding-top:100px;background-color:gray;color:black;height:100%;">
        <div class="col-sm-6" style="text-align: center;">
        <p>
                <h1 style="font-family:'Open Sans'">
            <b>Weight</b>
        </h1>
            <h3>
                <h4>According to the research our hypothesis about Weight is:</h4>
                <br>
                <br> <h3 style="color: #525e6d">H0:</h3> <h4>There is no statistically significant difference in weight loss or weight gain between a subject fasting opposed to the baseline. </h4>

                <br>
                <br><h3 style="color: #525e6d">H1:</h3><h4>There is a statistically significant difference in weight loss or weight gain between a subject fasting opposed to the baseline. </h4>
            </h3>
            </p>
        </div>
        <div class="col-sm-6 ">

            <img src="{{url_for('static', filename='img/P1Weight.jpeg') }}" style="width: 70%; padding-top:20px" class=" wow fadeInUp" >
            <img src="{{url_for('static', filename='img/P2Weight.jpeg') }}" style="width: 70%; padding-top:20px" class=" wow fadeInUp" >
        </div>
    </div>
{% endblock %}

