{% extends 'newLayout.html' %}
{% block body %}
    <div class="row" style="padding-top:100px;background-color:gray;color:black;height:100%;">
        <div class="col-sm-6" style="text-align: center;">
        <p>
                <h1 style="font-family:'Open Sans'">
            <b>glucose levels in blood</b>
        </h1>
            <h3>
                <h4>According to the research our hypothesis about Glucose level is:</h4>
                <br>
                <br> <h3 style="color: #525e6d">H0:</h3> <h4>The Gluconeogenesis process does not produce a statistically relevant difference
                in blood glucose levels between a subject fasting or baseline.</h4>

                <br>
                <br><h3 style="color: #525e6d">H1:</h3><h4>The Gluconeogenesis process does show a statistically relevant drop in
                blood glucose levels between a subject fasting opposed to baseline.</h4>
            </h3>
            </p>
        </div>
        <div class="col-sm-6 ">

            <img src="{{url_for('static', filename='img/P1_Glucose.jpeg') }}" style="width: 70%; padding-top:20px" class=" wow fadeInUp" >
            <img src="{{url_for('static', filename='img/P2_Glucose.jpeg') }}" style="width: 70%; padding-top:20px" class=" wow fadeInUp" >
        </div>
    </div>
{% endblock %}

