<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1">
        <title>Being hungry for Academic Reasons</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="../static/stylesheet.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600|Titillium+Web&display=swap">
    </head>
    <body>
        <div class="main-body">
            <div class="row main-nav">
                {% include 'includes/_navbar.html' %}
            </div>
            {% block body %}{% endblock %}
            <div class="row main-footer">
                {% include 'includes/_footer.html' %}
            </div>
        </div>
        <script type=text/javascript src="../static/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block scrpt %}
        {% endblock %}
    </body>
</html>