{% extends 'newLayout.html' %}
{% block body %}
  <section id="intro" class="wow fade-in">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="../static/img/IF1.jpeg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The Effect of IF on Blood Pressure</h2>
                <p>To find out more, download our paper</p>
                <a href="/downloadArticle" class="btn-get-started scrollto">Download Paper</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/IF2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The Effect of IF on Weight</h2>
                <p>To find out more, download our paper</p>
                  <a href="/downloadArticle" class="btn-get-started scrollto">Download Paper</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/IF4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The Effect of IF on Blood Glucose Level</h2>
                <p>To find out more, download our paper</p>
                <a href="/downloadArticle" class="btn-get-started scrollto">Download Paper</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/IF5.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The Effect of IF on the Cognition Short-term Memory</h2>
                <p>To find out more, download our paper</p>
                <a href="/downloadArticle" class="btn-get-started scrollto">Download Paper</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="../static/img/IF6.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>The Effect of IF on Heart Rate</h2>
                <p>To find out more, download our paper</p>
                <a href="/downloadArticle" class="btn-get-started scrollto">Download Paper</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

  </main>
{% endblock %}
{% block scrpt %}
{% endblock %}