<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Intermittent Fasting</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="../static/img/IFIcon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600|Titillium+Web&display=swap">

  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">

       <!-- Bokeh includes-->
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" rel="stylesheet"/>
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css" type="text/css"/>
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><img src="../static/img/IFIcon.png" style="height:60px;width:60px;padding-bottom:5px;padding-right:5px" alt="IF"/><a href="/" class="scrollto">Intermittent Fasting </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>


          <li class="menu-has-children"><a href="">Hypotheses</a>
            <ul>
                  <li><a href="/hypos/bloodpressure">Blood Pressure</a></li>
                  <li><a href="/hypos/cognition">Cognition</a></li>
                  <li><a href="/hypos/glucose">Glucose</a></li>
                  <li><a href="/hypos/heartrate">Heart Rate</a></li>
                  <li><a href="/hypos/sleepsummary">Sleep</a></li>
                  <li><a href="/hypos/weight">Weight</a></li>
            </ul>
          </li>
            <li class="menu-has-children"><a href="">Plots</a>
            <ul>

                    <!--<li><a href="/plots/cognition">Cognition</a></li>-->
                    <li><a href="/glucose_plot">Glucose</a></li>
                    <li><a href="/BP_plot">Blood Pressure</a></li>
                    <!--<li><a href="/plots/heartrate">Heart Rate</a></li>-->
                    <!--<li><a href="/plots/sleepsummary">Sleep</a></li>-->
                    <!--<li><a href="/plots/weight">Weight</a></li>-->
            </ul>
          </li>
          <li><a href="/team">Team</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="https://bitbucket.org/zahra_jalili/quantified_self_project_zahra/src/master/">The Bitbucket Repository</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
{% block body %}{% endblock %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Intermittent Fasting</h3>
            <p>In this research, we examine the effect of intermittent fasting on different factors like blood pressure, heart rate, blood glucose level, weight, sleep pattern and the cognition capability of brain </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="/">Home</a></li>
              <li class="menu-has-children"><i class="ion-ios-arrow-right"></i> <a href="/team">Team</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="https://bitbucket.org/qs_fasting/web-app/src/master/">Bitbucket Repository</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Zahra Jalili and Rolf Vedder <br>
              Hanze University of Applied Science <br>
              Groningen<br>
              Netherlands <br>
              <strong>Phone:</strong> +31685430619<br>
              <strong>Email:</strong> s.jalili@st.hanze.nl<br>
              <strong>Email:</strong> rolf.vedder@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Fasting Furiously</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Developed by <a href="#">Rolf Vedder</a>
        Designed by <a href="#">Zahra Jalili</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/waypoints/waypoints.min.js"></script>
  <script src="../static/lib/counterup/counterup.min.js"></script>
  <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="../static/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="../static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="../static/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="../static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>

  {% block scrpt %}
  {% endblock %}
</body>
</html>
