
{% extends 'newLayout.html' %}
{% block body %}

<!--==========================
      Team Section
    ============================-->
    <section id="team" style="background-color:gray">
      <div class="container" >
        <div class="section-header wow fadeInUp">
          <h3>Team</h3>
          <p>The Research Group for the Intermittent Fasting Project</p>
        </div>

        <div class="row">
            <div class="col-lg-1">
            </div>

          <div class="col-lg-2 col-md-6 wow fadeInUp">
            <div class="member">
              <img src="../static/img/zjalili.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Zahra Jalili</h4>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="member">
              <img src="../static/img/rolf.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Rolf Vedder</h4>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
            <div class="member">
              <img src="../static/img/jam.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jamaica Salcedo</h4>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="member">
              <img src="../static/img/anne.jpg" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Anne Lammertink</h4>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <div class="col-lg-2 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
            <div class="member">
              <img src="../static/img/KevinK.PNG" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Kevin De Leeuw</h4>
                  <div class="social">
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-google-plus"></i></a>
                    <a href=""><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <div class="col-lg-1">
            </div>

        </div>

      </div>
    </section><!-- #team -->


{% endblock %}
{% block scrpt %}
{% endblock %}