{% extends 'layout.html' %}
{% block body %}
    <div class="row main-page">
        <div class="col-sm-12">
            {% for fil in plots %}
                {% include fil %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scrpt %}
    <script type=text/javascript src="{{url_for('static', filename='plots.js') }}"></script>
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.3.4.min.js"></script>
    <script type="text/javascript">
        Bokeh.set_log_level("info");
    </script>
{% endblock %}