<div id='{{file_class}}' class="plot-spacer"></div>
<div class='container {{file_class}}'>
    <div class="row">
        <h4>{{form_title}}</h4>
    </div>
    <div class="row">
        <div class="panel panel-default plot-pane">
            <div id='{{file_class}}_plot' class="panel-body"></div>
        </div>
    </div>
    <div class="row">
        {% include 'includes/_messages.html' %}
    </div>
    <div class="row">
        <!--<form method="POST">-->
        <form class="options-pane">
            <div class="col-sm-4">
                <div class="form-group">
                    <h6>Participants</h6>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="participants par1">Participant 1</label>
                    <label class="checkbox-inline"><input type="checkbox" value="" class="participants par2">Participant 2</label>
                </div>
                <div class="form-group">
                    <h6>Phase</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" class="pha1">Baseline 1</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" class="pha2">Fasting</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" class="pha3">Baseline 2</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group options">
                    <h6>Plot options</h6>
                    {% block options %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-4">
                <div class="vertical-bottom text-right"><a href=# class="makeplot"><button class='btn btn-default'>Plot</button></a></div>
            </div>
        </form>
        <!--</form>-->
    </div>
</div>
{% block divide %}
{% endblock %}