{% extends 'layout.html' %}
{% block body %}
    <div class="row main-page">
        <div class="col-lg-1 page-window"></div>
        <div class="col-lg-10 page-window">
            <!-- this is where the html goes     -->
            <div class="row team-person">
                <div class="col-lg-3 team">Vedder RHJ, Rolf</div>
                <div class="col-lg-3 email">r.h.j.vedder@st.hanze.nl</div>
                <div class="col-lg-4 text-right"><img src="{{url_for('static', filename='img/mmmmorty.jpeg') }}" class="team-img"></div>
            </div>
            <hr class="team-divider"/>
            <div class="row team-person">
                <div class="col-lg-3 team">Jalili S, Seyedehzahra</div>
                <div class="col-lg-3 email">s.jalili@st.hanze.nl</div>
                <div class="col-lg-4 text-right"><img src="{{url_for('static', filename='img/mmmmorty.jpeg') }}" class="team-img"></div>
            </div>
            <hr class="team-divider"/>
            <div class="row team-person">
                <div class="col-lg-3 team">Salcedo JU, Jamaica</div>
                <div class="col-lg-3 email">j.u.salcedo@st.hanze.nl</div>
                <div class="col-lg-4  text-right"><img src="{{url_for('static', filename='img/mmmmorty.jpeg') }}" class="team-img"></div>
            </div>
            <hr class="team-divider"/>
            <div class="row team-person">
                <div class="col-lg-3 team">Lammertink AJ, Anne</div>
                <div class="col-lg-3 email">unavailable</div>
                <div class="col-lg-4  text-right"><img src="{{url_for('static', filename='img/mmmmorty.jpeg') }}" class="team-img"></div>
            </div>
            <hr class="team-divider"/>
            <div class="row team-person">
                <div class="col-lg-3 team">Leeuw K de, Kevin</div>
                <div class="col-lg-3 email">k.de.leeuw@st.hanze.nl</div>
                <div class="col-lg-4 text-right"><img src="{{url_for('static', filename='img/mmmmorty.jpeg') }}" class="team-img"></div>
            </div>
        </div>
        <div class="col-lg-1 page-window"></div>
    </div>
{% endblock %}